* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo 2', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("bg_underconstruction_landscape.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #d0d0d0;
}

@media only screen and (orientation: portrait) {
    body {
        background-image: url("bg_underconstruction_portrait.webp");
    }
  }

.container {
    text-align: center;
}

.content {
    width: 60%;
    min-width: 300px;
    margin: 0 auto; /* Zentriert den Div */
}

.icon {
    width: 64px;
    padding: 10px;
    filter: brightness(90%);
}

.icon:hover {
    filter: brightness(100%);
}

h1 {
    font-size: 16px;
    color: #333;
    padding-top: 40px;
    margin-bottom: 20px;
}

p {
    font-size: 14px;
    color: #333;
    margin-bottom: 16px;
}
